
.azaltart, .adet {
  border: 1px solid #ccc; /* Buton kenarı */
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px; /* Köşeleri yuvarlatır */
  background-color: white;
}

.azaltart:hover, .adet:hover {
  background-color: #f0f0f0; /* Hover rengi */
}